@charset 'utf-8';

html {
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background-color: white;
}

a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

p {
  line-height: 1.6;
}

.global-nav {
  height: 44px;
}

.local-nav {
  height: 52px;
  border-bottom: 1px solid #ddd;
}

.global-nav-link,
.local-nav-links {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.global-nav-link {
  justify-content: space-between;
}

.local-nav-links .product-name {
  margin-right: auto;
  font-size: 1.2rem;
}

.local-nav-links a:not(.product-name) {
  margin-left: 2em;
}

.local-nav-links a {
  font-size: 0.8rem;
}
